html {
  height: 100%;
  background-color: #EFEFEF;
}

body{
  display: flex;
  flex-direction: column;
  height: 100%;
}

#app{
  display: flex;
  height: 100%;
  flex-direction: column;
}

header{
  /* We want the header to have a static height - it will always take up just as much space as it needs.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

main{
  /* By setting flex-grow to 1, the main content will take up
  all of the remaining space on the page (the other elements have flex-grow: 0 and won't contest the free space). */
  /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 1 0 auto;
  background-color: #EFEFEF;
}

footer{
  /* Just like the header, the footer will have a static height - it shouldn't grow or shrink.  */
  /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
  flex: 0 0 auto;
}

.footer {
  height: 56px; /* Set the fixed height of the footer here */
  /**line-height: 24px; /* Vertically center the text there */
}

.toolBtn{
  background-color: #E91E63;
  color:#fff
}


